apiVersion: v1
kind: Service
metadata:
 
  labels:
    app.kubernetes.io/managed-by: Helm
    nodeType: test
  name: mynginx
spec:
  
  ports:
  - port: 9898
    protocol: TCP
    targetPort: 80
  selector:
    nodeType: test
status:
  loadBalancer: {}
