deployment:
  name: "mynginx-app"
  nodeType: "test"
replicaCount: 1
contName: "nginx1"
image:
  pullPolicy: Always
  name: nginx:1.21
hpa:
  pod: nginx
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 10
service:
  type: NodePort