deployment:
  name: "mynginx-app"
  nodeType: "test"
replicaCount: 1
contName: "nginx1"
image:
  pullPolicy: Always
  name: nginx
hpa:
  pod: nginx
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
service:
  type: NodePort